.column {
    width: 40%;
    margin: 10px;
    display: inline-block;
    text-align: center;
}

.row {
    margin: auto;
}

.note-item {
    background-color: #0172AD;
    border-radius: 10px;
    list-style: none;
    text-align: left !important;
    padding: 20px;
}
