<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="dark"/>
    <title>note app</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
    <link rel="stylesheet" href="/static/style.css"/>
</head>
<body>
    <main class="container">
      <div class="row">
        <div class="column">
            <h2>
              Create a note:
            </h2>

            <textarea
              id="note-text-input"
              rows="10"
              cols="50"
            ></textarea>

            <button id="add-note-button">
              Add Note
            </button>
        </div>
        <div class="column">
            <h2>
                Past notes:
              </h2>
  
              <ul id="note-list"></ul>
  
              <button id="clear-notes-button">
                Clear Notes
              </button>
        </div>
      </div>
    </main>
    <script src="/static/script.js"></script>
</body>
</html>